.video{
  color: white;
 margin: 50px auto;
  width: 856px;
 text-align: left;

  button{
    cursor: pointer;
margin-left: 20px;
    border: 1px #1a1a1a solid;
    color: white;
    background-color: transparent;
    height: 30px;
    width: 100px;
  }
  button:hover{
    border: 1px #ff0000 solid;
    color: #ff0000;
    background-color: transparent;

  }
  p{
    font-size: 17px;
    line-height: 37px;
font-weight: 700;

  }

  .inf{
    span{

      font-weight: 700;
      font-size: 14px;
      color: #969696;
      display: flex;
      vertical-align: center;
      img{

        margin: 0px 5px 0px 5px;
      }
    }


border-bottom: 1px #1a1a1a solid;
padding: 0px 0px 10px 0px;
display: flex;
height: 40px;
    justify-content: space-between;
    div{
      display: flex;
      align-items: center;
      vertical-align: center;
    }
    .img1{
      cursor: pointer;
    }

   .img2{
     margin-left: 20px;
     transform: rotate(180deg);
     cursor: pointer;
   }
  }
  .user{
    border-bottom: 1px #1a1a1a solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
color: #ffffff;
    padding: 15px 0px 15px 0px;
    div{
      display: flex;
      align-items: center;

    }
    span{
      font-size: 16px;
      font-weight: 700;
margin-left: 10px;
    }
    img{
      border-radius: 430px;
    }
    button{
      color: white;
      background-color: transparent;
      height: 44px;
      width: 145px;
      border: 1px solid #252525;
    }
    button:hover{
      color: #FF9000;
      background-color: transparent;
      height: 44px;
      width: 145px;
      border: 1px solid #FF9000;
    }
  }
  .comments{
    button{
      border: 1px #1a1a1a solid;
      color: white;
      background-color: transparent;
      height: 40px;
      width: 240px;
    }
    button:hover{
      border: 1px #FF9000 solid;
      color: #FF9000;
      background-color: transparent;
      height: 40px;
      width: 240px;
    }
    padding-top: 10px;
  }
}